
body {
    background-color: rgb(234, 234, 234) !important;
}

.ui.top.fixed.menu {
  background-color:#fff0 !important;
    padding-right: 5rem;
    border:0em;
    
  }
.ui.vertical.menu{
  background-color: #fff !important;
  border-radius: 1.28571429rem !important;

}

@media only screen and (min-width: 1200px){
.pageContainer.ui.container {
    width: 1200px;
    margin-top: 5em;
    margin-right: auto!important;
    margin-left: 16rem !important;
  }
}



/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  height: 35%;
  width: 100%;
  float: right;
  background: #84c68f !important;
  /* background-image: url("../layout/img/homepage.jpg") !important; */
  background-size: cover !important;
  background-position-y: -309px !important;
  border-radius: .28571429rem !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/


/*map page styles*/


/*end map page styles*/