@font-face {
  font-family: "AssistantRegular";
  src: local("AssistantRegular"),
    url("./fonts/GT-Eesti-Pro-Display-Regular.woff2") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "AssistantMedium";
  src: local("AssistantMedium"),
    url("./fonts/GT-Eesti-Pro-Display-Medium.woff2") format("woff");
  font-weight: normal;
}

body {
  background-color: #fff !important;
  font-family: AssistantRegular, Arial, Helvetica, sans-serif
  
}
.popup{
  font-family: AssistantRegular, Arial, Helvetica, sans-serif  !important;
  color: black !important;
  font-size: smaller !important
}
.a {
  color: #263a5e 
}

.pageContainer.ui.container{
  padding-top: 10px;
}

.ui.vertical.menu,.ui.accordion.menu .item .title {
  font-family: AssistantRegular, Arial, Helvetica, sans-serif;
  background: #fff

}
.ui.button,.ui.input>input{
  font-family: AssistantMedium, Arial, Helvetica, sans-serif !important;
  font-weight: 500 !important;
}
.ui.header, .ui.header .content{
  font-family: AssistantMedium, Arial, Helvetica, sans-serif !important;
  font-weight: normal;
  color: #1a2b49 
}
.ui.statistic>.value, .ui.statistics .statistic>.value, .segmentHeader {
  font-family: AssistantRegular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  color: #1a2b49 

}

.segmentHeader {
  background: rgb(38, 58, 94) !important;

}
.SearchArea>.ui.icon.input>i.icon.search{
  display: none;
}
.SearchArea {
  width: 65%;
}
.BlogUserSearchArea {
  width: 100%;
  font-size: 1.1em !important
}

.BlogUserSearchArea input{
  -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
}
.ui.input{
  width: 100% !important
}

.ui.search.BlogUserSearchArea > * {
  border-color: #335084 !important;
  color:#335084 !important;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header,.ui.secondary.menu .item {
  font-family: AssistantMedium, Arial, Helvetica, sans-serif !important;
  font-size: 1.1rem;
  line-height: 1.25rem;
  font-weight: 500 !important;
  color: #1a2b49 
}

.ui.secondary.pointing.menu .item{
  margin:0;
}
.ui.secondary.menu .header.item {
  margin-bottom: -2px !important;
}
.ui.items>.item>.content>a.header{
  font-family: AssistantMedium, Arial, Helvetica, sans-serif !important;
  font-size: 1.3rem !important;
  line-height: 1.25rem !important;
  font-weight: 500 !important;
  color: #1a2b49 !important;
}

.ui.large.label,.ui.label, .ui.large.labels .label{
  font-family: AssistantRegular, Arial, Helvetica, sans-serif !important;
  background-color: rgb(38, 58, 94);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;

}

.blogFilterPlaceholder{
  background: #f3f4f5;
  color:#f3f4f5;
}
.blogListItem_Header{
  color: #263a5e !important;
}
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
  font-family: AssistantRegular, Arial, Helvetica, sans-serif !important;
}

.ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled {
  pointer-events: none;
  opacity: 1.45;
}

h1, h2, h3, h4, h5 {
  font-family:  AssistantRegular, Arial, Helvetica, sans-serif !important;
}

.ui.card, .ui.cards>.card {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 290px;
  min-height: 0;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 1px 3px 0 #d4d4d5;
  box-shadow: 0 3px 7px 0 #d4d4d5;
  -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  transition: box-shadow .1s ease,transform .1s ease;
  transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  z-index: '';
}

.ui.statistic>.label, .ui.statistics .statistic>.label {
  font-family:  AssistantRegular, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #1a2b49 !important;
  text-transform: uppercase;
  text-align: center;
}
.dtPicker_Container_Style{
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%) !important;
  border-radius: .28571429rem !important;
    padding: 24px !important;
    -webkit-font-smoothing: antialiased;
    margin-top: 30px !important;
    background-color: rgb(38, 58, 94) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1rem !important;
}

.dtPicker_Style{
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
        border-radius: .28571429rem;
}
.filterMenuItem_Style{
  line-height: 2 !important;
}
.ui.segment.blogFilter_Category_Filter {
  border: none;
  background: #fafafa;
  color: #335084;
  margin-top: 0 !important;
}

.blogPageGrid{
  margin-top: 1rem !important;
}

.blogFilter_ListItem {
    padding-top: 0.8285em !important;
    font-size: 1.1em;
}
.blogFilter_menuItem {
  font-size: 1.05em !important;
  color: #345289 !important;
}
.blogFilter_accordion{
   width: 100% !important;
   box-shadow: none !important;
   border: none !important;
   background: #fafafa !important;
   font-size: 1.1rem !important;
  min-height: 2em !important;
}
.ui.accordion .title:not(.ui) {
  padding: .4em 0;
  font-family: AssistantRegular, Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  color: #345289;
}
.baseline-pricing {
  color: #263a5e;
  text-align: right;
}

.baseline-pricing p{
  margin-bottom: 0;
}
.baseline-pricing__from{
  font-size: .75rem;
  line-height: .75rem;
  color: #6d7688;
}
.baseline-pricing p{
  margin-bottom: 0;
}
.baseline-pricing__category{
  font-size: .75rem;
  line-height: .75rem;
  color: #6d7688;
}
.content.activity_listItem_extraContent{
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px !important;
}
.activityListItem_footer{
  color:rgb(38, 58, 94) !important
}
p.baseline-pricing__value{
  font-size: 18px !important;
  font-weight: 600 !important;
}
.ui.top.fixed.menu {
    padding: 0 96px;
    background-color: #fff !important;
    height: 66px;
    border-bottom: 1px solid rgba(34,36,38,.15);
    position: inherit;
  }
/* .ui.vertical.menu{
  background-color: #fff !important;
  border-radius: 1.28571429rem !important;
} */
.activityListItem{
    width: 100% !important;
}

.ui.items>.item>.content:after {
  display: none !important;
}
a.ui.card:hover {
  
  -webkit-box-shadow: 0 1px 18px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
  box-shadow: 0 1px 18px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.homepage_contactus-form{
  border: none !important;
    box-shadow: 1px 0 12px rgb(0 0 0 / 13%) !important;
    border-radius: 4px !important;
}
.ui.secondary.menu .item{
  color: #263a5e;
  font-family: system-ui;
  font-size: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-weight: 600;
}

@media only screen and (max-width: 425px){
.ui.card{
  width: 100% !important;
}
}

@media only screen and (max-width: 767px){
.ui.stackable.allProfileCards.cards>.card {
   display: inline-grid !important;
    height: auto!important;
    margin: 1em 1em;
    padding: 0!important;
    width: calc(50% - 2em)!important;
}
}
.profileCard_footer{
  display: flex !important;
  justify-content: space-between !important;
  padding: 10px 0 !important;
  align-items: flex-end !important;
}

.starRatingColumn, .followerCountColumn{
  width: auto !important;
}
.page-header__content {
  display: block;
  min-width: 320px;
  padding: 0 16px;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.spacingContainer__small{
  height: 60px;
  float: left;
  clear: none;
  width: 100%;
}

.spacingContainer__medium{
  height: 100px;
  float: left;
  clear: none;
  width: 100%;
}

.spacingContainer__large{
  height: 150px;
  float: left;
  clear: none;
  width: 100%;
}
.homepage_Segment{
  margin: 0 !important;
}
.homepageContainer.ui.container{
  text-align: center;
}

.ui.text.container{
  margin-left: 150px !important;
  text-align: left;
  font-family: AssistantRegular, Arial, Helvetica, sans-serif;
  max-width: 500px !important;
}

@media only screen and (min-width: 1200px){
.pageContainer.ui.container {
    width: 1250px;
    margin: auto!important;
    max-width: 1400px;
   
  }

  .homepageContainer.ui.container{
    width: 1210px;
    margin: auto!important;
    max-width: 1400px;
  }

  .ui.text.container{
    margin-left: 150px !important;
    text-align: left;
  }
  .ui.container {
    width: 1250px !important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.ui.grid.container {
  width: calc(1250px + 2rem)!important;
}
}

.contactus-row{
  background-color:mintcream;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


@media (min-width: 1440px){
  .page-header__content {
    padding-left: 96px;
    padding-right: 96px;
}

}

@media (min-width: 1200px){
  .page-header__content {
    padding-left: 40px;
    padding-right: 40px;
}

}

@media (min-width: 1024px){
  .page-header__content[data-v-0ca1fdc0] {
    max-width: 1400px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
}
}

@media (min-width: 768px){
.page-header__content[data-v-0ca1fdc0] {
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
}}



/*home page styles*/

.masthead_page {
  display: flex;
  align-items: center;
  height: 4vw;
  width: 100%;
  background: #fff!important;
  background-size: cover !important;
  background-position-y: -260px !important;
  border-radius: .28571429rem !important;
  margin-top:10px !important;
}


.masthead {
  display: flex;
  align-items: center;
  height: 25vw;
  width: 100%;
  background: #84c68f !important;
   background-image: url("../layout/img/banner-2.jpg") !important; 
  background-size: cover !important;
  background-position-y: -260px !important;
  border-radius: .28571429rem !important;

}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  line-height: 2.75rem;
  font-size: 36px;
  font-weight: 500;
    font-family:  AssistantRegular, Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    text-shadow: 1.5px 1.5px #263a5e;
}
i.search.inverted.icon {
  opacity: 1 !important;
  font-size: 0.85em  !important;
  width: 0.85em  !important;
}
.masthead_page h1.ui.header {
  font-size: 1.5em;
  font-weight: 500;
  color: #263a5e;
}

.homePage-button_Container{
  background-color: #263a5e;
  height: 80px;
  flex-direction: row;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

.masthead-button_Container{
  height: 80px;
  flex-direction: row;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.homepage_subheader{
  font-family:  AssistantRegular, Arial, Helvetica, sans-serif;
  margin-top: 10px  !important;
  font-size: 1.1rem !important;
}

.psikologCard{
  background-image:  url("/assets/categoryImages/psikolog.jpg") !important;
}
.diyetCard{
  background-image:  url("/assets/categoryImages/diyetisyenn.jpg") !important;
}
.meditasyonCard{
  background-image:  url("/assets/categoryImages/meditasyon.jpg") !important;
}
.sporCard{
  background-image:  url("/assets/categoryImages/spor.jpg") !important;
}

.homepageCatCard{
  height: 300px;
}
.homepageCatCard .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homepageCatCard .content .header{
  color:#fff !important;
  font-size: 1.7rem !important;
  line-height: 2rem !important;
  margin-bottom: 10px;
  text-shadow: 1.5px 1.5px #263a5e;
}

.homepageCatCard .content .label{
  border-radius: 1.28571429rem;
  font-size: 16px;
  line-height: 1.5rem;
    padding: 4px 16px;
}
.homepageCatCardModal_segmentContainer{
  display: flex !important;
  flex-direction: row;
}
.homepageCatCardModal_segmentContainer .box{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 33% !important;
  height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
/* .ui.search .prompt {
  border-radius: 0 !important; 
} */

/*end home page styles*/

.profileList_Headers_Segment{
  border: 0 !important;
}

.profileList_headerAndSorting{
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
}
.profileList_carousel-container{
  padding: 10px 1px;
}
.profileListItem_badges{
  margin-top: -5px;
  z-index: 1;
}
.profileListItem_subCats{
  margin-bottom: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carousel-item-padding-10-px{
  width: 230px !important;
  margin:0 20px 0 0;
}
.starRating{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.starRating_Count{
  font-size: 11px;
}
.starRating_Rating{
  font-size: 14px;
}

.profileCard_Label{
  width: fit-content !important;
    position: inherit !important;
    margin: -12px 0 0 .5em !important
}
.profileCard_Content{
  border-top: none !important;
}
.profileHeader_content{
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
}

.profileBlogCard_header{
  font-weight: 600 !important;
    font-size: 1.1em !important;
}
/*map page styles*/

[data-reach-menu-item][data-selected] {
  background: red;
  color: white;
}

.profileContent_tab{
  border: none !important;
}

.profileMessageSegment{
  padding-left:0 !important;
  padding-right:0 !important;
  background: #f8f8f9 !important;
    border: none !important;
    border-radius: 12px !important;
}
.profileMessageGrid{
  background: #f8f8f9 !important;
    border: 1px solid #e3e4e5;
    border-radius: 12px !important;
}
.questionmarkicon{
  margin-right: 0 !important;
  margin-left: 5px  !important;
}
.sendMessageButton, .showNumberButton {
  width: 100% !important;
  height: 45px !important;
  border-radius: 0.5rem !important;
}
.sendMessageButton{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    outline: none !important;
    font-family: inherit !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    border: 0.0625rem solid rgb(0, 105, 119) !important;
    background-color: #263a5e  !important;
    color: rgb(255, 255, 255)  !important;
    border-radius: 8px  !important;
    padding: calc(0.6875rem) 1.5rem  !important;
    cursor: pointer;
    margin-bottom: 10px !important;
}

.showNumberButton{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    outline: none !important;
    font-family: inherit !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    border: 0.0625rem solid #263a5e !important;
    background-color: rgb(255, 255, 255)  !important;
    border-radius: 8px  !important;
    padding: calc(0.6875rem) 1.5rem  !important;
    cursor: pointer;
    margin-bottom: 10px !important;
}
.followingButtonOut{
  background-color: #263a5e  !important;
  color: rgb(255, 255, 255)  !important;
  border-radius: 8px  !important;
  border:0.0625rem solid !important
}
.sendMessageButton:hover {
  background-color: rgb(5, 138, 138) !important;
  border: 0.0625rem solid rgb(5, 138, 138) !important
}
.followingButtonOut_redClassName{
  border: 0.0625rem solid rgb(218, 35, 35) !important;
  color: rgb(218, 35, 35) !important;
  border-radius: 8px !important;
  background: transparent none!important;
    font-weight: 400;
    text-transform: none;
    text-shadow: none!important;
    -webkit-box-shadow: 0 0 0 1px rgb(34 36 38 / 15%) inset;
    box-shadow: 0 0 0 1px rgb(34 36 38 / 15%) inset;
}

.followingButtonOut_greenClassName{
  border: 0.0625rem solid green !important;
  color: green !important;
  border-radius: 8px !important;
  background: transparent none!important;
    font-weight: 400;
    text-transform: none;
    text-shadow: none!important;
    -webkit-box-shadow: 0 0 0 1px rgb(34 36 38 / 15%) inset;
    box-shadow: 0 0 0 1px rgb(34 36 38 / 15%) inset;
}

.activityHostName {
  color: #4183c4;
    text-decoration: none;
}

.profieHeader_segment{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}
.profile_segmentHeaders{
  border: none !important;
  border: none !important;
  margin-bottom: 10px !important;
  padding-top: 30px !important;
  border-top: 1px solid #e8e9ec !important;
  padding-left: 0 !important;
}

.showNumberButton:hover{
  background-color: rgb(244, 245, 245)  !important;
}

@media only screen and (max-width: 767px){
  .ui.grid .ui.stackable.grid {
    margin-left: -0!important; 
     margin-right: -0!important; 
}
}

/*end map page styles*/


.blog_desctiption_segment{
  padding: 80px 80px 60px 80px !important;
  margin: -150px 100px 50px 100px !important;
}

.blog_description_header{
  text-align: left;
  width: 100%;
  color: #263a5e !important
}

.blog_description_date{
  font-size: 1em;
  color: #1a2b49c2 !important;
  font-weight: 300 !important;
  text-transform: uppercase;
}

.blog_desctiption_segment .description{
  font-size: 1.25em;
  color: #1a2b49c2 !important;
  line-height: 2.1rem;
  font-weight: 300 !important;
}

.blogListItem_Readmore{
  color: #263a5e   !important;
  font-style: italic;
  font-family: 'AssistantMedium';
  text-decoration: underline;
  cursor: pointer;
}
.blogListItem_Readmore .icon{
  text-decoration:none !important
}

.blog_userdetail{
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  border-top: 1px solid rgba(34,36,38,.15);
  padding-top: 40px;
}

.blog_userdetail .blog_user{
  color: #263a5e   !important;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
}

.blog_morefromuser{
  padding: 40px 80px 40px 80px !important;
  margin: 50px 100px 50px 100px !important;
}
.blog_morefromcat{
  padding: 40px 80px 40px 80px !important;
  margin: 0px 100px 100px 100px !important;
}

.blog_morefromuser_header{
  font-size: 1.5rem !important;
  width: 100%;
  margin-bottom: 30px !important;
  color: #263a5e !important
}

.blog_morefromuser_readmore{
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2em;
  border-top: 1px solid rgba(34,36,38,.15);
  padding-top: 40px;
}

.blog_desc_category_label{
  background-color: #f8f8f8 !important;
  color: rgb(38 58 94 / 84%) !important;
  border: 1px solid rgba(34,36,38,.15) !important;
  margin-bottom: 30px !important;
}


.html-editor-wrapper{
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
}

.html-editor{
  padding: .78571429em 2.1em .78571429em 1em;

}

.postFormHeader{
  margin: 30px 0 10px 0 !important
}

.messagePage_scrollbar{
  background-color:#fff !important;
  height: 100% !important;
}
.messagePage_listItem{
  min-height: 60px !important;
    padding: 15px 5px !important;
}

.messagePage_listItem_image{
  width: 50px !important;
  height: auto !important;
  font-size: .78571429rem;
  border: 2px solid #ff8100 ;
}
.onlineSymbol{
  margin-left: -15px !important;
  position: relative;
  margin-top: 25px !important;
  margin-right: 10px !important;
}

.messagePage_listItem_Content{
  display: flex;
  align-items: center;
  margin-left: 5px !important
}

.messageChat_grid{
  display: grid !important;
  grid-template-rows: 80% 20%;
}

.inbox-wrapper {
  bottom: 0;
  position: relative;
  top: 0;
  width: 100%;
}
.inbox-grid{
  height: 90vh;
}
.chat_segment{
  height: 100%;
  grid-column: 1;
    grid-row: 1;
}

.chat-text-form{
  position: relative !important;
  display: flex;
  flex-direction: row;
    /* bottom: 0;
    margin-bottom: 45px; */
}

.chat_reading_box{
  height: 90%;
}
.chat_profile_details{
  height: 10%;
  border-bottom: 1px solid rgba(34,36,38,.15);
    font-size: 13px;
    cursor: pointer;
}
.chat_message_box_segment{
  grid-column: 1;
  height: 100%;
  margin-top:20px;

}
.chat_textarea{
  width: 100%;
}

.chatLabels{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.currentUserMessage{
    display: flex;
    flex-direction: row-reverse;
    border-radius: .28571429rem !important;
    border: 1px solid rgba(34,36,38,.15) !important;
    width: 65% !important;
    margin-left: 35% !important;
    margin-bottom: 15px !important;
    padding: 10px !important;
    background-color: rgb(149 166 198) !important;
    color: #fff !important;
    font-size: 1.1em !important;

}

.otherUserMessage{
  border-radius: .28571429rem !important;
    border: 1px solid rgba(91, 106, 121, 0.15) !important;
    max-width: 60% !important;
    margin-bottom: 15px !important;
    padding: 10px !important;
    background-color: #f1f1f1 !important;
    color: rgb(0 0 0 / 87%) !important;
    font-size: 1.1em !important;
  }


.currentUserMessage_content{
  flex: none !important;
  padding-right: 1.5em !important;
  max-width: 95%;
  width: 95% !important;
}
.otherUserMessage_content{
  max-width: 95%;
}
.emptyMessageBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #345289;
  height: 100% !important;
    align-items: center;
}

.profile_desc_iconandtext {
  display: flex !important;
  flex-direction: row !important;
}

.profile_desc_list_item{
  margin-top: 0 !important;
}

.profile_desc_grid_rows{
  margin-bottom: 15px;
}

.readMore{
  margin-top: 10px;
  cursor: pointer;
  text-decoration:underline ;
  color:teal;
}

.accordion_category_title i{
  display: none !important
}

.accordion_category_title .ui.checkbox label,.accordion_category_title .ui.checkbox+label,
.accordion_subcategory_title .ui.checkbox label,.accordion_subcategory_title .ui.checkbox+label{
  color:rgb(38, 58, 94)  !important
}

.scroll-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

.activity_userPredicate_MenuItem{
  color:#345289 !important;
}

.toggleMenuItem{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color:#345289 !important;
}


.ui.modal>.content>.icon+.description, .ui.modal>.content>.image+.description {
  -webkit-box-flex: 0;
  -ms-flex: 1 0 auto !important;
  flex: 1 0 auto !important;
}